<mat-card>
  <form (submit) = "onAdicionarLivro(livroForm)" #livroForm= "ngForm">
    <mat-form-field>
      <input type="text" matInput placeholder="titulo" name= "titulo" ngModel required minlength="3" #titulo=ngModel/>
      <mat-error *ngIf="titulo.invalid"> Digite um título válido </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="ator" name= "ator" ngModel required #ator=ngModel />
      <mat-error *ngIf="ator.invalid"> Digite o nome do ator</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="ano" name= "ano" ngModel required #ano=ngModel />
      <mat-error *ngIf="ano.invalid"> Digite um ano válido </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="id" name= "id" ngModel required #id=ngModel />
      <mat-error *ngIf="id.invalid"> Digite o código do livro</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button>
      Inserir Livro
    </button>
  </form>
</mat-card>
